*{
    box-sizing: border-box;
}
.top_tile{
    color: rgb(86, 114, 104);
    text-align: center;
    padding: 3vh;
    background-color:white;
    font-weight: 500vh;
    font-family: 'Concert One', cursive;
    border-radius: 150vh;
    margin: 3vh 30vh 2vh 30vh;
}
form{
    margin: 0vh 30vh 30vh 30vh;
    font-family: nunito;
}
form .btn{
    border-radius: 200vh;
    padding: 2vh 4vh 2vh 4vh;
    background-color: #FEFBE7;
 
}
form .btn2{
    float: right;
    border-radius: 200vh;
    padding: 2vh 4vh 2vh 4vh;
    background-color: #FEFBE7;
}
form .btn:hover{
    background-color: white;
    color: #808080;
    cursor: pointer;
}

form .btn2:hover{
    background-color: white;
    color: #808080;
    cursor: pointer;
}
form .one, .two, .three, .four, .five{
    border-radius: 5vh;
    background-color: #EFEFEF;
    padding: 3vh;

}
form span{
    font-weight: 700;
}
.score_board{
    border: 1px solid lightgray;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 30px;
    padding-left: 20px;
    font-family: nunito;
    font-size: 20px;
    background-color: #EFEFEF;;
}
